* {
  margin: 0%;
  padding: 0%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header {
  background: #121212;
  color: #f7f7f7;
}

h1 {
  padding: 30px;

  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav > ul {
  display: flex;

  justify-content: space-between;
  width: 100%;
  background-color: #f7f7f7;
}

.nav-link:link,
.nav-link:visited {
  background-color: #121212;
  color: #f7f7f7;
  text-decoration: none;

  font-size: 24px;
  text-align: center;
  display: block;
  padding: 15px 0;
  width: calc(calc(100% / 3) - 2.5px);
  margin: 2.5px 0 0 0;
  list-style-type: none;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  nav > ul {
    /*turns nav into columns once it has reached the max width*/
    flex-direction: column;
  }
  /*defines that nav-link is 100% of the screen*/
  .nav-link:visited,
  .nav-link:link {
    z-index: 0;
    width: 100%;
  }

  nav {
    position: static;
  }
}

body {
  background-color: #f7f7f7;
  margin: 3px;
  color: #121212;
}

footer {
  padding-bottom: 15px;
  padding-left: 25px;
  background: #121212;
  color: #ebebeb;
  font-size: 20px;
}

footer > p {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  padding: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
